<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>


<div id="todo_pagina">

<!--carousel code begins-->
<div id = "carousel-example" class = "carousel slide" data-ride = "carousel">
  <!-- Indicators -->
  <ol class = "carousel-indicators">
    <li data-target = "#carousel-example" data-slide-to = "0" class="active"></li>
    <li data-target = "#carousel-example" data-slide-to = "1"></li>
    <li data-target = "#carousel-example" data-slide-to = "2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class = "carousel-inner">
    <!-- First Photo -->
	  <div class = "item active">
	    <img src = "/images/imagen_AMA1.jpg" alt = "First slide">
	    <div class = "carousel-caption">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Aenean eros ex, pellentesque sed enim id, pellentesque. </p>
      </div>
	  </div>

  <!-- Second Photo -->
    <div class = "item">
      <img src = "/images/imagen_AMA2.jpg" alt = "Second slide">
      <div class = "carousel-caption">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Aenean eros ex, pellentesque sed enim id, pellentesque. </p>
      </div>
    </div>

  <!-- Third Photo -->
    <div class = "item">
      <img src = "/images/imagen_AMA3.jpg" alt = "Third slide">
      <div class = "carousel-caption">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Aenean eros ex, pellentesque sed enim id, pellentesque. </p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class = "left carousel-control" href="javascript:void(0)" 
     data-slide = "prev" data-target="#carousel-example">
    <span class = "glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class = "right carousel-control" href="javascript:void(0)" 
     data-slide = "next" data-target="#carousel-example">
    <span class = "glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


<!-- Text -->
<div class="col-md-10 col-md-offset-1" id="aboutText">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget massa sed risus eleifend consequat. Phasellus eget dui id mauris pretium tincidunt. Fusce et mattis erat. Proin placerat nibh vel euismod hendrerit. Vestibulum volutpat massa a felis consequat fermentum eu non neque. Suspendisse egestas diam id lacus aliquet elementum. Quisque bibendum lectus vitae rhoncus euismod. Mauris mattis risus non lobortis placerat. Fusce vel ultricies ipsum. In lobortis pretium justo, ut blandit enim sagittis ut.</p>
    <p>Ut rhoncus, augue et bibendum commodo, diam massa euismod quam, in viverra nunc nulla in tortor. In quis porta lorem. Donec sit amet faucibus velit, vel rutrum diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed in felis ut purus lobortis iaculis in sit amet augue. Fusce finibus sem id elit vestibulum sodales. Mauris faucibus, nunc a tempus eleifend, velit massa lacinia est, quis pellentesque leo diam vel ligula. Donec mollis lorem neque, nec facilisis dolor rutrum luctus. Cras ut blandit ante, id sagittis arcu.</p>
</div>


<!-- Videos Section -->

<div class = "container">
  <hr class="featurette-divider">
  <div class = "row featurette">
    <div class = "col-md-6 col-md-offset-1" id = "featurette">
      <h2 class = "featurette-heading">First featurette heading. <span class = "text-muted"> It'll blow your mind.</span></h2>
      <p class = "lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div id = "nosotros-video" class = "col-md-4">
      <div class = "embed-responsive embed-responsive-16by9 video">
        <iframe class = "embed-responsive-item" src="https://www.youtube.com/embed/FmFEB0ESiy0"></iframe>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

<div class = "row featurette">
  <div id = "nosotros-video" class = "col-md-4 col-md-offset-1">
      <div class = "embed-responsive embed-responsive-16by9 video">
        <iframe class = "embed-responsive-item" src="https://www.youtube.com/embed/FmFEB0ESiy0"></iframe>
      </div>
    </div>
    <div class = "col-md-6" id = "featurette">
      <h2 class = "featurette-heading">First featurette heading. <span class = "text-muted"> It'll blow your mind.</span></h2>
      <p class = "lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    
  </div>

  <hr class="featurette-divider">

</div>
</div>

