<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<div id="todo_pagina" style="padding-bottom: 100px;">
	<div class="row">
		<div id="contacto" class="col-md-5 offset 1">
			<h2>Contacto</h2>
			<address>
			Box 564, Disneyland<br>
			USA
			<p> Telefono: <a href="1-408-555-5555">1-408-555-5555</a> </p>
			<p> E-mail: <a href="mailto:webmaster@example.com">Jon.Doe@gmail.com</a>. </p><br> 
			</address>
		</div>

		<div class="col-md-6" id = "enmarcado" style="margin-top: 50px;">
			<img class="img-responsive" src = "/images/imagen_AMA3.jpg">
		</div>
	</div>
</div>