<div class="jumbotron">
  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget massa sed risus eleifend consequat. Phasellus eget dui id mauris pretium tincidunt. Fusce et mattis erat. Proin placerat nibh vel euismod hendrerit. Vestibulum volutpat massa a felis consequat fermentum eu non neque.</p>
    <h2>Contacto</h2>
    <p>example@example.com</p>
    <p>1111111111</p>
  </div>

  <div class="col-md-4">
    <h2 class="text-center">[Foto]</h2>
  </div>
</div>