<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<div id="todo_pagina">
<!-- Seccion Titulo -->
<section id="titulo_sec">
	<div class="row">
		<div class="col-md-12 text-center" id="titulo_caja">
			<h1 id="titulo_texto">Asesorías para Mejorar el Aprendizaje</h1>
		</div>
	</div>
</section>

<!-- Seccion video -->
<section id="sec_video">
	<div class="row">
	  <!-- Video -->
	  <div class="col-md-8 col-md-offset-2" >
	  	<div class="col-md-12" id="enmarcado">
	    	<div class="embed-responsive embed-responsive-16by9 video">
	      	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FmFEB0ESiy0"></iframe>
	    	</div>
	  	</div>
	  </div>
	</div>
</section>

<!-- Seccion mision vision-->
<section>
	<div class = "container">
  		<hr class="featurette-divider">
  			<div class = "row featurette">
    			<div class = "col-md-6 col-md-offset-1" id = "featurette">
      				<h2 class = "featurette-heading">Misión <span class = "text-muted"> Por qué estamos aquí</span></h2>
      				<p class = "lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    			</div>
    			<div id = "mision-imagen" class = "col-md-4">
      				<img class="img-responsive" src="images/default-placeholder.png">
    			</div>
  			</div>

  		<hr class="featurette-divider">

		<div class = "row featurette">
  			<div id = "vision-imagen" class = "col-md-4 col-md-offset-1">
  				<img class="img-responsive" src="images/default-placeholder.png">
    		</div>
    	<div class = "col-md-6" id = "featurette">
      		<h2 class = "featurette-heading">Visión<span class = "text-muted"> Hacia donde vamos</span></h2>
      		<p class = "lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    	</div>
    
  		</div>

  		<hr class="featurette-divider">
	</div>
</section>

</div>
