/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
body {
    background-color: white;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
	background-color: rgba(255,248,3,0.7);
	border-style: solid;
	border-color: rgba(255,248,3,0.0);
}

a.navbar-brand {
	color: rgb(0,0,0);
}

#nav_texto{
	color: black;
}

#nav_boton:hover{
	color: white;
}

#nav_boton:hover{
	 -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

#nav_boton_colapsed:hover{
	color: white;
}

.navbar-inverse.navbar-toggle:hover{
	background-color: white;
}

.navbar-inverse.navbar-toggle:focus{
	background-color: white;
}

#nav_linea{
	background:black;
}

.jumbotron {
    background-color: white;
}

main {
    background-color: white;    
}

#new_user {
	background-color: rgba(144,207,200,0.5)  
}
input.button.right {
	background-color: #90CFC8; 
}

h1{
	text-align:center;
}

#video{
	padding: 5px;
	background-color: rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.5);
}

#textoMV1{
	background: green;
	color: white;
	margin: 5px;
	padding: 20px;

}

#textoMV2{
	background: blue;
	color: white;
	margin: 5px;
	padding: 20px;

}

#titulo_caja{
	margin-top: -10px;
}
