<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="nav_boton_colapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" id="nav_linea"></span>
        <span class="icon-bar" id="nav_linea"></span>
        <span class="icon-bar" id="nav_linea"></span>
      </button>
      <a class="navbar-brand" href="/" id="nav_texto">AMA</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>
